* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    background: url(../img/main%20bg.png);
    background-size: cover;
    min-height: 100%;
}

.form {
    background-color: #fff;
    width: 40%;
    margin: auto;
    margin-top: 70px;
    border-radius: 5px;
     transition: box-shadow 1s ease;
}

.header__icon,
.header__title {
    display: inline-block;
    padding: 30px 0;
}

.header__icon {
    padding-left: 45px;
    text-align: right;
}

.header__title {
    font-size: 28px;
    color: rgb(27, 28, 29);
    font-weight: bold;
    line-height: 0.833;
    padding-left: 10px;
}

.header__text {
    font-size: 13px;
    color: rgb(122, 123, 127);
    line-height: 1.538;
    text-align: left;
    margin: 0 auto;
    width: 80%;
}

.form-main {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.field-wrap {
    margin: 15px 0;
}

.field-wrap__input {
     padding: 10px 0 10px 10px;
    font-size: 14px;
    color: rgb(122, 123, 127);
    line-height: 1.429;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

.field-wrap-left {
    float: left;
    width: 50%;
}

.field-wrap-right {
    float: right;
    width: 50%;
    text-align: right;
}

.field-wrap__input--medium {
    width: 90%;
}

.field-wrap__input--big {
    width: calc(100% - 10px);
       clear: both;
}

.field-wrap__btn--red {
    width: 100%;
    background-color: #ea355a;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.111;
    border: none;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 3px 0 #bd1962;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-footer {
    width: 80%;
    margin: 5px auto;
    padding-bottom: 50px;
    font-size: 12px;
    color: rgb(122, 123, 127);
    line-height: 1.667;
    text-align: left;
}

.header__link-Log_in--red,
.footer__link-terms--red,
.footer__link-privacy--red {
    text-decoration: none;
    color: #ea355a;
}
.form:hover{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: box-shadow 0.7s;
}
.field-wrap__btn--red:hover{
    transform: scale(1.01);
    box-shadow: 0 3px 0 #bd1962, 0 10px 10px rgba(0,0,0,0.22)
}
.header__icon--rotate {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.form:hover .header__icon--rotate{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
